.vs
/ClassLibrary1/bin
/ClassLibrary1/obj
/ClassLibrary1/ClassLibrary1.csproj
/DecimoPrimeiroProj/bin
/DecimoPrimeiroProj/obj
/DecimoPrimeiroProj/DecimoPrimeiroProj.csproj
/DecimoPrimeiroProj/DecimoPrimeiroProj.csproj.user
DecimoPrimeiroProj.sln
